body {
    background: #EEE;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
header div a {
    color: #333;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}
.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#interval {
    font-size: 300%;
}
.answer {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.piano {
    
}
.piano-key {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    width: 8%;
    height: 100px;
    max-width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    
}
.white {
    background: linear-gradient(-30deg, #f8f8f8, #ffffff);
    margin-right: -1px;
    z-index: 0;
}
.black {
    background: linear-gradient(-20deg, #222, #000, #222);
    bottom: 20px;
    width: 3%;
    z-index: 10;
    margin-right: -3%;
    margin-left: -3%;
}

.active {
    background: red;
}

footer {

}
